#toolbox .form {
  display: grid;
  grid-template-columns: 5em 1fr;
  grid-auto-flow: row;
  gap: var(--padding-m);
}

#toolbox {
  position: absolute;
}

#toolbox .form {
  padding-top: var(--padding-s);
  padding-bottom: var(--padding-l);
}


#toolbox .form>label {
  text-align: right;
  text-transform: uppercase;
  font-size: 80%;
  color: var(--fg-low);
}

input[type="range"] { 
  accent-color: silver; 
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  border-bottom:2px solid var(--fg-low);
}

input[type="range"]:focus {
  border-bottom:2px solid var(--fg);
  outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  background-color: var(--fg-low);
  width:1em;
  height:1em;
  -webkit-appearance: none;
  appearance: none;
}

input[type="range"]::-webkit-slider-thumb:hover {
  background-color: var(--fg);
}

input[type="range"]::-webkit-slider-thumb:active {
  background-color: var(--fg-high);
}

input[type="range"]::-webkit-slider-runnable-track { 
  -webkit-appearance: none;
  background-color: transparent;
}

#toolbox input {
  min-width: 100%;
}

#toolbox input[type="text"] {
  font-family: 'Overpass Mono', monospace;
  background-color: transparent;
  appearance: none;
  -webkit-appearance: none;
  border: 1px solid var(--fg-low);
  color: var(--fg);
}

#toolbox {
  background: hsl(0, 0%, 0%, 30%);
  padding: var(--padding);
  padding-right: var(--padding-l);
  backdrop-filter: blur(5px);
  max-width: 15em;
  transition: background 1s ease-out;
}

#toolbox:has(:focus),#toolbox:hover {
  background: hsl(0, 0%, 0%, 90%);
  transition: background 0.3s ease-in;
}

#toolbox>h2 {
  font-size: 1em;
  margin: 0;
  padding: 0;
  text-align: center;
}

