* {
  box-sizing: border-box;
}

:root {
  --legend-fg: white;
  --hue-primary: 44;
  --hue-secondary: 60;
  --padding: 0.6rem;
  --padding-s: 0.3rem;
  --fg: hsl(var(--hue-primary), 30%, 86%);
  --fg-faded: hsl(var(--hue-primary), 10%, 56%);
  --bg: hsl(var(--hue-secondary) 1% 14%);
  --bg-dark: hsl(var(--hue-secondary) 1% 10%);
  --bg-toolbar: hsl(var(--hue-secondary) 10% 10%);
  --mono-size: 12px;
  --mono-font: ui-monospace,
    Menlo, Monaco,
    "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono",
    "Oxygen Mono",
    "Ubuntu Monospace",
    "Source Code Pro",
    "Fira Mono",
    "Droid Sans Mono",
    "Courier New", monospace;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: var(--bg);
  color: var(--fg);
}


ixfx-plot-element {
  width: 10em;
  height:10em;
  display:block;
  background-color: var(--bg-dark);
}

section {
  color: var(--fg-faded);
  width: 11.5em;
  min-height: 16em;
  align-items: left;
  display:flex;
  flex-direction: column;
}

section>h1 {
  font-size: 0.7em;
  margin-bottom: 0;
  margin-top: var(--padding-s);
}
section>h2 {
  margin-top: 0;
  margin-bottom: var(--padding-s);
  font-weight: normal;
}

.stats {
  font-family: var(--mono-font);
  font-size: var(--mono-size);
}

.container {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  margin-left: 1em;
}

section.frozen {
  opacity: 0.7;
}

details {
  margin-top:1em;
  margin-bottom:1em;
}
details>summary {
  font-size: 1.2em;
  font-weight: bold;
}