@import url("../../base.css");
@import url("../../forms.css");

body {
   flex-wrap: wrap;
  user-select: none;
  -webkit-user-select: none;
  overscroll-behavior: none;
  touch-action: none;
  overflow: hidden;
  height: 100vh;
  width:100vw;
}

.handle {
  border: 3px solid white;
  border-radius: 50%;
  width: 2rem;
  height:2rem;
  position: absolute;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
fieldset {
  display: inline-block;
  padding:0.5em;
  font-size:12px;
}
legend {
  text-align: center;
  font-weight: bold;
}
label {
  opacity: 0.5;
}

#target {
  position: relative;
  z-index: 2;
  width:100%;
  height:100%;
  user-select: none;
  pointer-events: none;
}

section { 
  position: absolute;
  left:0;
  top:0;
  width:100vw;
  height:100vh;
  display: grid;
  grid-template-rows: auto 8em;
  align-items: end;
  pointer-events: none;
}

#right {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  background-color: var(--chrome-3);
  padding:0.5em;
  overflow: hidden;
}

#right-top {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  justify-content: flex-start;
  width:100%;
  pointer-events: all;
}

input {
  width:100%;
}
#point-a,#point-b {
  background-color: blue;
  color:white;
}
#point-cubic1,#point-cubic2 {
  background-color: red;
  color: white;
}

#snippet {
  align-self: center;
  font-size:8pt;
  font-family: monospace;
  word-break: break-all;
  text-wrap:wrap;
  word-wrap: break-word;
  user-select: text;
  pointer-events: all;
}

@media (min-aspect-ratio: 1/1) {
  fieldset {
    width:100%;
    max-width:8em;
  }
  fieldset.wide {
    max-width: unset;
  }
  #right {
    height:100%;
  }
  section {
    grid-template-rows: none;
    grid-template-columns: auto 15em;
  }
}