@import url("../../base.css");
@import url("../../forms.css");
body {
  flex-wrap: wrap;
}

.handle {
  border: 3px solid white;
  border-radius: 50%;
  width: 2rem;
  height:2rem;
  position: absolute;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
fieldset {
  display: inline-block;
  padding:0.5em;
  font-size:12px;
}
legend {
  text-align: center;
  font-weight: bold;
}
label {
  opacity: 0.5;
}

#right {
  position: absolute;
  max-width: 20vw;
  right: 0.5em;
  top: 0.5em;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  background-color: var(--chrome-3);
  border: 1px solid var(--chrome-5);
  padding:0.5em;
  z-index: 2;
}

#right-top {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  justify-content: flex-start;
}

#point-a,#point-b {
  background-color: blue;
  color:white;
}
#point-cubic1,#point-cubic2 {
  background-color: red;
  color: white;
}

#snippet {
  align-self: center;
  font-size:8pt;
  font-family: monospace;
}